svg {
    font: 300 14px "Helvetica Neue", Helvetica;
}

.node rect {
    stroke: #333;
    fill: #fff;
}

.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
}

.textarea {
    font-family: inherit;
    font-size: inherit;
}